.Rectangle_2 {
	animation: Rectangle_2 2s linear infinite both;;
	transform-box: fill-box;
	transform-origin: 50% 50%
}
@keyframes Rectangle_2 {
	0% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(314px);
	}
	100% {
		transform: translateX(0px);
	}
}

.Rectangle_2:hover {
	animation-play-state: paused;
}